    <form class = "display-form">
    <label for="">Description</label>
    	<input type="checkbox" name="Description" id="" ng-model = "description">
    <label for="">Artist</label>
    	<input type="checkbox" name="Artist" id="" ng-model = "artist">
    <label for="">Title</label>
    	<input type="checkbox" name="Title" id="" ng-model = "title">
        <label for="">Loved Count</label>
    	<input type="checkbox" name="Artist" id="" ng-model = "loved_count">
    <label for="">Image</label>
    	<input type="checkbox" name="Title" id="" ng-model = "image">
    </form>