<div ng-controller="FeedCtrl as fc">
    <feed-display-form></feed-display-form>
    <feed-category-form></feed-category-form>
	<ul class = "display-display">
		<li class = "media media-items" ng-repeat = 'item in fc.items'>
			<div class = "media-inner">
			    <img ng-show = "displayField('image')" ng-src = "{{item.thumb_url_large}}"/>
				<h1 ng-show = "displayField('title')">
				{{item.title}}
				 </h1>
 				<h2 ng-show = "displayField('artist')">
				 	BY {{item.artist}}
				</h2>
				<div ng-show = "displayField('loved_count')">
				<span> <em>been loved</em></span>
				<span><strong>{{item.loved_count}}</strong> times</span>
				</div>

				<p ng-show = "displayField('description')">{{item.description}}</p
			</div>
		</div>

		</li>
	
	</ul>

</div>